.pagination {
  display: none;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  justify-content: flex-start;
  bottom: 16px !important;
}

@media (min-width: 768px) {
  .pagination {
    display: flex;
    max-width: 670px;
  }
}

@media (min-width: 992px) {
  .pagination {
    display: flex;
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  .pagination {
    display: flex;
    max-width: 1100px;
  }
}

.bullet {
  display: flex;
  margin-right: 1.25rem;
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  padding: 4px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.bullet-active {
  background: #36682c;
}
